body {
    font-size: 30px;
}

.brand-title {
    display: block;
    text-align: center;
    text-decoration: underline;
}

.forms-auth {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-card {
    border: 2px solid black;
    border-radius: 35px;
    padding: 1rem 4rem;
}

.sub_form_button {
    background-color: rgb(0, 255, 51);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.25rem 2rem;
    border: 1px solid black;
    border-radius: 8px;
    width: 70%;
}

.sub_form_button:hover {
    background-color: rgb(0, 220, 44);
}

.label_and_input {
    font-size: 2rem;
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    row-gap: 2rem;
}