body {
    font-size: 30px;
}

.brand-title {
    display: block;
    text-align: center;
}

.forms-auth {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-card {
    border: 2px solid black;
    border-radius: 35px;
    padding: 1rem 4rem;
    width: 40%;
    text-align: center;
}

.sub_form_button {
    background-color: rgb(0, 255, 51);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.25rem 2rem;
    margin: 1rem 0rem;
    border: 1px solid black;
    border-radius: 8px;
    width: auto;
}

.sub_form_button:hover {
    background-color: rgb(0, 220, 44);
    cursor: pointer;
}

.label_and_input {
    font-size: 2rem;
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
}

.label_and_input input {
    font-size: 1.2rem;
    width: 50%;
}

.form-card a {
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.1s ease-in
}

.form-card a:hover {
    color: rgb(255, 0, 0);
}